.navbar {
  display: flex;
  flex-direction: row-reverse;
  background: none;
  padding: 31px 26px 38px 26px;
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

img {
  width: 30vw;
}
