.carImg-container {
    display: flex;
    justify-content: center;
}

.carImg {
    width: 20vmin;
    margin: 10vmin;
}

.chatImg {
    width: 20vmin;
    margin: 10vmin;
}

.chatImg-container {
    display: flex;
    justify-content: center;
}

#btnColor-orange {
    background: rgb(240, 130, 34);
    color: white;
}
  
#btnColor-blue {
    color: rgb(17, 103, 155);
}


