.home-about,
.home-welcome,
.home-story {
  text-align: center;
}

.site-content-row {
  display: flex;
  flex-direction: column;
}

.home-about,
.home-story {
  padding: 46px 30px;
}

.home-welcome {
  padding: 54px 5px;
}

.home-welcome > h3 {
  color: rgb(255, 255, 255);
}

.home-welcome-msg {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1pt;
  color: rgb(255, 255, 255);
  padding: 0 15px;
}

.home-about-msg,
.story {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.09pt;
}

.phone-num {
  color: #11679b;
}

.home-main-img {
  background: url("https://i.imgur.com/qt1zREv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-story-img {
  width: 100%;
}

@media (min-width: 1024px) {
  .home-welcome {
    text-align: left;
  }
  .home-welcome-msg {
    padding: 0;
  }
  .home-about-msg,
  .story {
    font-size: 23px;
    line-height: 33px;
    letter-spacing: 0.12pt;
  }
}
